<a href="https://colab.research.google.com/github/harshdhamecha/Python-Projects/blob/main/Python-Tips-Tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Trick 1: Ternary Condition

In [ ]:
condition = False
if condition:
    x = 1
else:
    x = 0
print(x)

0

In [ ]:
condition = False
x = 1 if condition else 0
print(x)

0

## Trick 2: Working with Large Numbers

In [ ]:
num1 = 10_00_000     
num2 = 10000000        

total = num1 + num2

print(f'{total:,}')

11,000,000

In [ ]:
num1 = 1_000_000_000     # 1 billion
num2 = 10_000_000        # 10 million

total = num1 + num2

print(f'{total:,}')

1,010,000,000

## Trick 3: Unpacking Values

In [ ]:
items = (1, 2)
print(items)

(1, 2)

In [ ]:
a, b = 1, 2
print(a)
print(b)

1
2

In [ ]:
a, b, *c = (1, 2, 3, 4, 5, 6)
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 6]

## Trick 4: Inputting Secret Information

In [ ]:
uname = input('Enter Username: ')
pwd = input('Enter password: ')

print('Logging In....')

Enter Username: harsh
Enter password: secrets
Logging In....

In [ ]:
from getpass import getpass

uname = input('Enter Username: ')
pwd = getpass('Enter password: ')

print('Logging In....')

Enter Username: harsh
Enter password: ··········
Logging In....

## Trick 5: Use Generators to Save Memory

In [ ]:
import sys
squares_list = [i*i for i in range(10_000)]
# To print the size of a variable 
print(sys.getsizeof(squares_list, "bytes"))

87632

In [ ]:
squares_gen = (i*i for i in range(10_000))
# To print the size of a variable 
print(sys.getsizeof(squares_gen, "bytes"))

128

## Trick 6: Define Default Values in Dictionaries with .get() and .setdefault()

In [ ]:
items = {'name': 't-shirt', 'price': 999}
count = items['count']
print(count)

KeyError: ignored

In [ ]:
items = {'name': 't-shirt', 'price': 999}
count = items.get('count', 0)
print(count)
print(items)

0
{'name': 't-shirt', 'price': 999}

In [ ]:
items = {'name': 't-shirt', 'price': 999}
count = items.setdefault('count', 0)
print(count)
print(items)

0
{'name': 't-shirt', 'price': 999, 'count': 0}

## Trick 7: Iterate With `enumerate()` instead of `range(len())`

In [ ]:
numbers = [1, 3, -2, -6]
for i in range(len(numbers)):
    if numbers[i] < 0:
        numbers[i] = 0

print(numbers)

[1, 3, 0, 0]

In [ ]:
numbers = [1, 3, -2, -6]
for idx, number in enumerate(numbers):
    if number < 0:
        numbers[idx] = 0

print(numbers)

[1, 3, 0, 0]

## Trick 8: Merge Dictionaries

In [ ]:
d1 = {'name': 'vishal', 'age': 23}
d2 = {'name': 'vishal', 'city': 'Rajkot'}
merged_dict = {**d1, **d2}
print(merged_dict)

{'name': 'vishal', 'age': 23, 'city': 'Rajkot'}

## Trick 9: Looping through Multiple Lists

In [ ]:
players = ['MS Dhoni', 'Virat Kohli', 'Rohit Sharma', 'Dinesh Karthik']
ipl_teams = ['CSK', 'RCB', 'MI', 'KKR']

for idx, player in enumerate(players):
    team = ipl_teams[idx]
    print(f'{player} played for {team}')

MS Dhoni played for CSK
Virat Kohli played for RCB
Rohit Sharma played for MI
Dinesh Karthik played for KKR

In [ ]:
players = ['MS Dhoni', 'Virat Kohli', 'Rohit Sharma', 'Dinesh Karthik']
ipl_teams = ['CSK', 'RCB', 'MI', 'KKR']

for player, team in zip(players, ipl_teams):
    print(f'{player} played for {team}')

MS Dhoni played for CSK
Virat Kohli played for RCB
Rohit Sharma played for MI
Dinesh Karthik played for KKR

## Trick 10: Use Dictionary to Replicate Switch Case

In [ ]:
calc = {
    'add': lambda x, y: x + y,
    'subtract': lambda x, y: x - y,
    'mul': lambda x, y: x * y,
    'div': lambda x, y: x / y 
}

print(calc['add'](5, 4))
print(calc['subtract'](5, 2))
print(calc['mul'](5, 4))
print(calc['div'](10, 2))

9
3
20
5.0

## Bonus Tip: Use the Interactive `_` Operator

In [7]:
2 + 3

5

In [8]:
print(_)

5